<h1>Pet Information</h1>
<ul class="pets">
    <li *ngFor="let pet of pets"
    [class.selected]="pet === selectedPets"
    (click)="onSelect(pet)">
<span class="bage">{{pet.name}}</span>
{{pet.age}} |
{{pet.animal}}|
<i>{{pet.Pounds}}</i>
</li>
</ul>
<h2> {{mypets.name}} Details</h2>
<div><span>age:</span>{{mypets.age}}</div>
<div><span>animal:</span>{{mypets.animal}}</div>
<div><span>pounds:</span>{{mypets.Pounds}}</div>

<div>
    <label> Change Age:
        <input [(ngModel)}="pets.age" placeholder="age" />
    </label>
</div>